.slick-prev:before,.slick-next:before{
    
    font-size:2rem;
    background: gray;
    color: gray !important;
    background: none !important ;
    
}
.width-item {
    width:100% !important;
}
.active_Film{
    @apply bg-gray-800 text-white !important;
}
.none_active_Film{
    @apply bg-white text-gray-800 !important;
}