/* Ghe Thuong */
.ghe {  
    width: 35px;
    height: 35px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin:15px;
    background-color: rgb(190, 188, 188);
    color: white;
  }
  .gheDaDat{
    cursor: no-drop;
    background-color: rgb(255, 118, 118);
  }
  .gheDangDat{
    background-color: rgb(162, 249, 154)!important;
  }
  .gheVip{
    background-color: rgb(255, 180, 118);
  } 
  .gheDaDuocDat{
    background-color: rgb(247, 247, 247);
    -webkit-box-shadow: 5px 5px 9px -4px rgb(225, 93, 255); 
box-shadow: 5px 5px 9px -4px rgb(225, 93, 255);
color: rgb(225, 93, 255) !important;
border: 1px solid rgb(225, 93, 255);
  }